[submodule "VQA_LSTM_CNN"]
	path = VQA_LSTM_CNN
	url = https://github.com/VT-vision-lab/VQA_LSTM_CNN.git
[submodule "neuraltalk2"]
	path = neuraltalk2
	url = https://github.com/karpathy/neuraltalk2.git
