{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Grad-Cam</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
</head>
<body>
  <nav>
    <div class="nav-wrapper red darken-4">
      <a href="#" class="brand-logo center">Gradient-weighted Class Activation Mapping Demo</a>
    </div>
  </nav>
  <div class="container">
    <h3 class="center">Visual Question Answering</h3>
    <div class="row">
      <form class="col s12" action="/demo/vqa/" method="POST" enctype="multipart/form-data" id="vqaForm">
        {% csrf_token %}
        <div class="file-field input-field col s10">
          <div class="btn red darken-4">
            <span>Image</span>
            <input type="file" name="file" id="file" required>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload Image" name="file">
          </div>
        </div>
        <div class="input_field col s6">
          <label for="question">Question</label>
          <input id="question" type="text" class="validate" name="question" id="question" required>
        </div>
        <div class="input_field col s4">
          <label for="answer">Answer(Optional)</label>
          <input id="answer" type="text" name="answer" id="answer">
        </div>
        <div class="col s4">
          <a class="waves-effect waves-light btn red darken-4" onclick="submitForm();"><i class="material-icons right">cloud</i>Submit</a>
        </div>
        </form>
    </div>
  </div>
</body>
</html>
