{% extends 'base.html' %}

{% block header_content %}

{% include 'header_content.html' %}

{% endblock %}

{% block form %}
<style type="text/css">

  .caption {
    /*display: block;*/
    /*text-align: center;*/
    font-size: 18px !important;
    font-weight: bold;
}

#inputCaption, #predictedCaption{
    font-weight: bold;
}

.under
{
position:absolute;
/*left:0px;
top:0px;*/
z-index:-1;
}

.over
{
position:absolute;
/*left:40px;*/
/*top:10px;*/
z-index:0;
opacity: 0.3;
}

#gradCamCaption{
  position: relative;
  padding-top: 350px;
}

.finalImages{
  width: 350px !important;
  height: 350px !important;
  padding: 6px;
}

.resultText{
  margin-bottom: 15px !important;
}

</style>

<div class="container">
  <div class="page-header">
    <h2 id="userImages">Try Captioning On Your Images</h2>
  </div>

  <form id="my-dropzone" method="post" class="dropzone
  " action="{% url "upload" %}" enctype="multipart/form-data">
  <input type="hidden" id="demoType" name="demo_type" value=""> 
  <input type="hidden" id="appType" name="type" value="captioning">

  {% csrf_token %}

  {% include 'form.html' %}
  </form>

{% endblock %}

{% block terminal %}
{% endblock %}

{% block result %}
<script type="text/javascript">
  // Overriden 
  Dropzone.options.myDropzone = {
    autoProcessQueue: true,
    uploadMultiple: false,
    maxFiles: 10,

    init: function() {
      var myDropzone = this;

      myDropzone.on('success', function(file, data){
        console.log(data);
        $("#inputImageAfterUpload").attr('src', data['file_path']);
        $("#ResultDiv").show();
        $("#show-grad-cam-result").hide();
        $("#demoType").val("uploadedImageType");
        $("#question").val("");
        $("#Caption").val("");
        scrollToElement($("#ResultDiv"));
      });
    }
  }
</script>

<script type="text/javascript">
  var getLocation = function(href) {
      var l = document.createElement("a");
      l.href = href;
      return l;
  };

function submitDemoImage(src){
  var img_path = getLocation(src).pathname;
  $("#inputImageAfterUpload").attr('src', img_path);
  $("#show-grad-cam-result").hide();
  $("#Caption").val("");
  $("#ResultDiv").show();
  scrollToElement($("#ResultDiv"));
}

function submitImageForCaptioning () {
  var caption = $("#Caption").val();
  var l = $("#inputImageAfterUpload")[0].src;
  var img_path = getLocation(l).pathname;

  $.ajax({
    type    : 'POST', // define the type of HTTP verb we want to use (POST for our form)
    url     : '{% url 'captioning' %}', // the url where we want to POST
    data    : { 'img_path': img_path, 'csrfmiddlewaretoken': "{{ csrf_token }}", 'caption': caption} // our data object
  })// using the done promise callback
  .done(function(response) {
    var d = new Date();
    console.log(response);
    $("#inputCaption").text(response['input_caption']);
    $("#predictedCaption").text(response['pred_caption']);
    $("#overImg1").attr("src", response['input_image']);
    $("#img1").attr("src",response['captioning_gcam']+"?"+d.getTime());
    $("#img2").attr("src",response['captioning_gb']+"?"+d.getTime());
    $("#img3").attr("src",response['captioning_gb_gcam']+"?"+d.getTime());
    $("#show-grad-cam-result").show();
    scrollToElement($("#show-grad-cam-result"));
  });
}
</script>
<br>
  <div class="page-header">
    <h2 id="resultHeading" class="center">Result of Grad-CAM for Captioning</h2>
  </div>
<div id="ResultDiv" class="row" style="padding-bottom:50px; display:None;">
  <div class="col-md-5" style="padding-bottom: 30px; clear: both;">
    <img class="img-responsive" src="" style="height: 300px;" id="inputImageAfterUpload">
  </div>
  <div class="col-md-7" style="padding-bottom: 30px;">
    <input id="Caption" class="form-control" name="caption" placeholder="Enter the caption..."><br>
    <input type="button" value="Submit" onclick="submitImageForCaptioning()" class="btn btn-primary">
</div>
</div>

<div class="row demoImages" style="display:None;" id="show-grad-cam-result" >

  <div class="col-md-12 resultText">
    <h3 style="display: inline;" align="center">Predicted Caption : &nbsp;</h3>
    <h3 id="predictedCaption" style="display: inline;" class="center"></h3>
  </div>

  <div class="col-md-12 resultText">
    <h3 style="display: inline;" class="center">Generating Grad-CAM visualizations for: &nbsp;</h3>
    <h3 id="inputCaption" style="display: inline;" align="center"></h3>
  </div>

  <div class="col-md-4">
    <img src="" class="col-md-12 finalImages" id="img2">
      <p class="caption" style="font-size: 14 px;" align="left">Guided Backprop</p>
  </div>

  <div class="col-md-4">
    <img src="" class="over col-md-12 finalImages" id="overImg1" />
    <img src="" class="under col-md-12 finalImages" id="img1">
    <p class="caption" style="font-size: 14 px;" align="left" id="gradCamCaption">Grad-CAM</p>
  </div>

  <div class="col-md-4">
    <img src="" class="col-md-12 finalImages" id="img3">
      <p class="caption" style="font-size: 14 px; padding-left: 5px;" align="left">Guided Grad-CAM</p>
  </div>

</div>
{% endblock %}

{% block credits %}
<h2 class="page-header"> Credits </h2>
  <font size="4">
    <a href="https://github.com/karpathy/neuraltalk2">Code for Neuraltalk2</a><br>
    <br><br>
  </font>
  <br>
</div>
{% endblock %}
</body>

</html>
