<div class="container">
    <div class="page-header">
        <h1 align="center">CloudCV: Grad-CAM</h1>
        <h3 align="center">More details about the Grad-CAM dataset can be found <a href="#">here.</a></h3>
        <font size="4">
            <p style="text-align:center;"><font size="4">CloudCV can generate heatmaps for questions you ask about an image</font><br><br>
                <span style="font-size: 14px;">Browsers currently supported: Google Chrome, Mozilla Firefox</span>
            </p>
        </font>
        <br><br>
    </div>
</div>
